Package: com.nathan.dynamicnotland
Name: DynamicNotLand
Version: 1.2.3
Architecture: iphoneos-arm
Description: A tweak to hide the Dynamic Island on the 14 Pro series when it's not in use!
Maintainer: Nathan
Author: Nathan
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
